
@media (max-width: 1000px) {
    .about, .cards-container {
        flex-direction: column;
    }

    .card {
        flex-basis: auto; /* Reset flex-basis */
        width: 85%; /* Adjust width for tablets */
        margin: 10px auto; /* Center align the cards with margin */
    }

    .aboutUs {
        padding-left:5%;
        padding-right: 5%;
        height: auto;
    }

    .joinUs {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 170%; /*Adjust padding-bottom for content */
        height: auto;
    }

    .team{
      text-align: center;
    }

    .team-container{
      width: 30%;
      /* margin: 10px auto; */
      
    }

    .team-card {
      width: 30%;
      flex-direction: row;
    }


    .navbar {
        width: 100%; /* Fix navbar width */
    }

    .center {
        width: 80%; /* Adjust logo image size */
    }

    .footer {
        width: 92%; /* Adjust footer width */
        padding: 20px;
    }

    .join-card{
      width: 100%;
      font-size: 20%;
    }

    .pricething, .soon, .weprovide {
        font-size: 30px; /* Adjust font size for readability on tablets */
    }
} 

@media only screen and (max-width: 768px) {

    .mainBody{
      overflow-x: hidden;
      max-width: 100%;
    }
    .navbar {
        font-size: 18px; /* Smaller font size for navbar links */
        width: 93%;

    }
    .navtext{
      text-align: center;
    }

    .navbar button {
        padding: 6px 16px; /* Adjust button padding */
        font-size: 14px; /* Smaller font size for buttons */
    }

    .homes {
        height: 80vh; /* Make height automatic to fit content */
        padding: 70px 25px; /* Adjust padding for smaller screens */
        width: 87.5%;
        
    }

    .center{
      width: 105%;
      padding-top: 100px;
      align-items: center;
      margin: 0;
      
    }
    
    .aboutUs{
      height: auto;
    }

    .team{
      text-align: center;
    }

    .team-container, .team-card{
      width: 60%;
      flex-direction: row;
      margin: auto;
      
    }

    .join-card{
      width: 100%;
      font-size: 20%;
      /* margin-left: 20px; */
      height: auto;
    }

    .joinUs{
      height: 300vh;
      padding-bottom: 0% ;
    }

    .joinTitle {
      margin-right: 40px;
    }

    .aboutTitle, .joinTitle, .team {
        font-size: 10vmin; /* Smaller font size for titles */
    }

    .team-card{
      width: 100%;
    }


    .cards-container{
      display: flex;
      width:65%;
      flex-direction: column;
      align-items: center;
      /* padding-right: 30%; */
    }

    .card-title {
        font-size: 2rem; /* Smaller font size for card titles */
    }

    .weprovide{
      font-size: 5em;
    }

    .card-list{
      font-size: 1em;
    }

    .card-button {
        padding: 15px 20px; /* Adjust padding for buttons */
        font-size: 1.5rem; /* Smaller font size for buttons */
        margin-top: 20px; /* Adjust margin top */
    }

    .footer {
        padding: 20px 15px; /* Adjust padding for footer */
        height: auto;
        width: 92.5%;
    }
    .footer p{
      font-size: 10%;
    }

    .social-icon__link {
        font-size: 1.5rem; /* Adjust social icon size for mobile */
        padding-right: 5%;
    }
  }

    
@media only screen and (max-width: 480px) {

  .mainBody{
    overflow-x: hidden;
    max-width: 100%;
  }
  .navbar {
      font-size: 18px; /* Smaller font size for navbar links */
      width: 94%;

  }
  .navtext{
    text-align: center;
  }

  .navbar button {
      padding: 6px 16px; /* Adjust button padding */
      font-size: 14px; /* Smaller font size for buttons */
  }

  .homes {
      height: 60vh; /* Make height automatic to fit content */
      padding: 80px 30px; /* Adjust padding for smaller screens */
      width: 87.5%;
      
  }

  .center{
    width: 105%;
    padding-top: 100px;
    align-items: center;
    margin: 0;
    
  }
  
  .aboutUs{
    height: auto;
    padding-left: 10%;
  }

  .team{
    text-align: center;
  }

  .team-container, .team-card{
    width: 60%;
    flex-direction: row;
    margin: auto;
    
  }
  

  .join-card{
    width: 100%;
    font-size: 20%;
    /* margin-left: 20px; */
    height: auto;
  }

  .joinUs{
    height: 175vh;
    padding-bottom: 0% ;
  }

  .joinTitle {
    margin-right: 40px;
  }

  .aboutTitle, .joinTitle, .team {
      font-size: 10vmin; /* Smaller font size for titles */
  }

  .team-card{
    width: 100%;
  }


  .cards-container{
    display: flex;
    width:65%;
    flex-direction: column;
    align-items: center;
    padding-left: 19%;
  }

  .card-title {
      font-size: 2rem; /* Smaller font size for card titles */
  }

  .weprovide{
    font-size: 7em;
  }

  .card-list{
    font-size: 1%;
  }

  .card-button {
      padding: 15px 20px; /* Adjust padding for buttons */
      font-size: 1.5rem; /* Smaller font size for buttons */
      margin-top: 20px; /* Adjust margin top */
  }

  .footer {
      padding: 20px 15px; /* Adjust padding for footer */
      height: auto;
      width: 94%;
  }
  .footer p{
    font-size: 10%;
  }

  .social-icon__link {
      font-size: 1.5rem; /* Adjust social icon size for mobile */
      padding-right: 5%;
  }
  .form{
    width: 100%;
  }
  .payment{
    width:100%;
  }
}

@media only screen and (max-width: 380px) {

  .mainBody{
    overflow-x: hidden;
    max-width: 100%;
  }
  .navbar {
      font-size: 18px; /* Smaller font size for navbar links */
      width: 94%;

  }
  .navtext{
    text-align: center;
  }

  .navbar button {
      padding: 6px 16px; /* Adjust button padding */
      font-size: 14px; /* Smaller font size for buttons */
  }

  .homes {
      height: 60vh; /* Make height automatic to fit content */
      padding: 80px 30px; /* Adjust padding for smaller screens */
      width: 87.5%;
      
  }

  .center{
    width: 105%;
    padding-top: 100px;
    align-items: center;
    margin: 0;
    
  }
  
  .aboutUs{
    height: auto;
    padding-left: 10%;
  }

  .team{
    text-align: center;
  }

  .team-container, .team-card{
    width: 60%;
    flex-direction: row;
    margin: auto;
    
  }
  

  .join-card{
    width: 100%;
    font-size: 15%;
    height: auto;
  }

  .joinUs{
    height: 225vh;
    padding-bottom: 0% ;
    padding-left:8%;
  }

  .joinTitle {
    margin-right: 40px;
  }

  .aboutTitle, .joinTitle, .team {
      font-size: 10vmin; /* Smaller font size for titles */
  }

  .team-card{
    width: 100%;
  }


  .cards-container{
    display: flex;
    width:65%;
    flex-direction: column;
    align-items: center;
    padding-left: 19%;
  }

  .card-title {
      font-size: 2rem; /* Smaller font size for card titles */
  }

  .weprovide{
    font-size: 7em;
  }

  .card-list{
    font-size: 1%;
  }

  .card-button {
      padding: 15px 20px; /* Adjust padding for buttons */
      font-size: 1.5rem; /* Smaller font size for buttons */
      margin-top: 20px; /* Adjust margin top */
  }

  .footer {
      padding: 20px 15px; /* Adjust padding for footer */
      height: auto;
      width: 95.5%;
  }
  .footer p{
    font-size: 10%;
  }

  .social-icon__link {
      font-size: 1.5rem; /* Adjust social icon size for mobile */
      padding-right: 5%;
  }


  .form{
    width: 100%;
  }
}