body{
    margin: 0;
}
.navbar{
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    background-color:rgb(55, 127, 241);
    top: 0;
    width: 99.5%;
    padding: 7px;
    color: black;


}


button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background-color:rgb(55, 127, 241);
    transition: all 0.5s ease 0s;

    
}
.navbar button:hover{
    box-shadow: rgb(216, 233, 65) 0px 1px 40px;
    transition: all 0.1s ease 0s;
}

.mainlogo{
    width: 45%;
}

.homes{
    background: linear-gradient(rgb(55, 127, 241), rgb(219, 231, 48)) ;
    height: 85vh;
    padding: 75px;
}

.aboutuss{
    height: 85vh;
    padding-top: 80px;
    padding-left:250px;
    padding-right: 250px;
    padding-bottom: 80px;
}


.signups{
    height: 85vh;
    padding-top: 150px;
    padding-left:250px;
    padding-right: 250px;
    padding-bottom: 80px;

}
.teams{
    height: 85vh;
    padding-top: 150px;
    padding-left:250px;
    padding-right: 250px;
    padding-bottom: 80px;

}



.title{
    text-align: center;
}


.paragraphs{
    font-family: verdana;
    font-size: 20px;
}
