
#flex {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
a {
  text-decoration: none;
}
.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.242);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex-basis: 40%;
  text-align: center;
}

.card h2 {
  color: rgb(55, 127, 241);
  margin-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card p {
  font-size: 1em;
  line-height: 1.6;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-basis: 40%;
  gap: 50px;
  padding: 45px;
}

.join-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 500px; /* Adjust the width as needed */
  height: 450px;
  padding: 25px;
  text-align: center;
}

.card-title {
  color: rgb(55, 127, 241);
  font-size: 2.5rem;
  margin-top: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-list {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
  font-size: 2rem;
}

.card-list li {
  background: url('checkmark.png') no-repeat left center; /* Replace with the path to your check icon image */
  padding-left: 50px;
  padding-right: 100px;
  background-size: 20px; /* Adjust based on the size of your check icon */
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 150;

}

.card-button {
  
  background-color: #f5da0c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5%; /* Adjust as necessary for your design */
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
  width: 100%; /* Makes the button as wide as the card */
  display: block; /* Makes the button a block-level element */
  text-align: center; /* Centers text horizontally */
  line-height: 1.5px; /* Adjust this value to center the text vertically */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Optional: adds space between the list and the button */
  text-decoration: none;

}



.card-button:hover {
  background-color: #bda623;
  transform: translateY(-3px);
}


.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0px);
}


body {
    margin: auto;
}

html {
    scroll-behavior: smooth;

  }

.mainBody {
    width: 100%;
    font-family: "Lexend", sans-serif;
   
}
.navbar{
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    background-color:rgb(55, 127, 241);
    top: 0;
    width: 99.5%;
    padding: 12px;
    z-index: 1000000;
    /* color: black;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2); */
    
}

button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    font-size: 15px;
    height: 30px;
    padding: 5px 25px;
    /* text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px; */
    background-color:rgb(55, 127, 241);
    transition: all 0.7s ease 0s;
    font-family: "Lexend", sans-serif;


    
}
.navbar button:hover{
    box-shadow: rgb(216, 233, 65) 0px 1px 40px;
    transition: all 0.4s ease 0s;
    transform: translateY(-5px);
}


.center {
    margin:auto;
    margin-right: auto;
    width: 90%;
    display:block;
    text-align: center;
    padding-left: 54%;
  }

  /* .typed-out{
    overflow: hidden;
    border-right: .15em solid rgb(237, 215, 53);
    white-space: nowrap;
    animation: typing 2.5s steps(25, end) forwards;
    font-size: 2.6rem;
    width: 0;
  } */

  .center1 {
    margin:auto;



    
  }

.homes{
    background: linear-gradient(rgb(55, 127, 241), rgb(255, 255, 255));
    height: 72vh;
    padding: 85px;
    position:relative;
    display:grid;
    grid-template-columns: repeat(2, 1fr);

}

.aboutUs{
    height: 125vh;
    padding-top: 35px;
    padding-left:200px;
    padding-right: 200px;
    padding-bottom: 20px;
    background-color: white;
   
}

/* 
.theTeam {
    background-color: rgb(255, 255, 255);

} */

.aboutTitle {
    width: 100%;
    padding-bottom: 0px;
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 6vmin;
    color: rgb(55, 127, 241);
    text-shadow: rgb(0 0 0 / 25%) 3px 3px 3px;
}
.team{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 0px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 4vmin;
    color: rgb(55, 127, 241);
    text-shadow: rgb(0 0 0 / 25%) 3px 3px 3px
}

.joinTitle {
  width: 100%;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 6vmin;
  /* color:rgb(27, 81, 163); */
  color: rgb(55, 127, 241);
  text-shadow: rgb(0 0 0 / 25%) 4px 3px 3px;
}

.aboutContext {
    width: 100%;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 3vmin;
    color:black;

}


.joinUs {
  height: 70vh;
  padding-top: 35px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 380px;
  background-color: white;
}

 
 .footer {
  height: auto;
  position: relative;
  width: 94.8%;
  background: #3586ff;
  min-height: 105px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  text-align: left;
  color: #fff;
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

.pricething {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.soon {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.weprovide{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#team-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.team-card {
  width: 35%; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.team-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team-card h3 {
  font-size: 1.2rem;
  color: #333333;
  margin-top: 16px;
}

.team-card p {
  font-size: 1rem;
  color: #777777;
  margin-bottom: 16px;
}






@keyframes switch {
    0% {
        opacity: 100%;
    }
    87% {
        opacity: 100%;
    }
    88% {
        opacity: 0%;
    }

}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform:translate(0px);
  opacity: 1;
}

.reveal1{
  position: relative;
  transform: translateX(15px);
  opacity: 0;
  transition: all 1s ease;
}
  .reveal1.active{
    transform:translate(0px);
    opacity: 1;
  }

  .registerbody{
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .registertitle{
  width: 100%;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 6vmin;
  /* color:rgb(27, 81, 163); */
  color: rgb(55, 127, 241);
  text-shadow: rgb(0 0 0 / 25%) 4px 3px 3px;
  }
  .register1{
    background: linear-gradient(rgb(55, 127, 241), whitesmoke);
  }
  .form{
    padding-bottom: 5%;
  
  }
  .payment{
    padding-bottom: 10%;
  }

  .registertitle{
    padding-top: 5vh;
    width: 100%;
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 6vmin;
    /* color:rgb(27, 81, 163); */
    color: rgb(55, 127, 241);
    text-shadow: rgb(0 0 0 / 25%) 4px 3px 3px;
    }
    .register1{
      background: linear-gradient(rgb(228, 228, 228), whitesmoke);
      height: 110vh;
    }
    .form{
      padding-left: 5%;
      padding-right: 5%;
      margin: auto;
    
    }
    .payment{
      padding-left: 8%;
    }

@keyframes desaturate {
    0% {
        filter: grayscale(1); /* Start with no desaturation */
    }
    100% {
        filter: grayscale(0); /* End with full desaturation */
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }

}  

@keyframes typing {
  from { width: 0 }
  to { width: 65% }
}

